h1 {
    margin:  30;
    font-size: 2.5rem;
    color: rgb(5, 0, 2) ;
}
h2 {
    margin:  10;
    font-size: 3.5rem;
    color: hsl(341, 28%, 41%) ;
}
header {
    background-color:cadetblue;
    color:aliceblue;
    padding: 2px;;
    text-align: center;
}
 header {
    margin: 1000;
    font-size: 2.5rem;
  }
  main {
    margin: 20;
    font-size: 2.0rem;
    color: rgb(1, 0, 5) ;
  }
  section {
    margin-bottom: 2rem;
  }
  
  h2 {
    color: rgb(143, 21, 152);
    border-bottom: 2px solid var(--usf-gold);
    padding-bottom: 0.3rem;
  }
  
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  ul li {
    margin-bottom: 0.5rem;
  }
  
  a {
    color:rgb(6, 135, 233);

  }
  
  a:hover {
    color: var(--link-hover);
    text-decoration: underline;
  }
  
  footer {
    background-color:cadetblue;
    color: var(--white);
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
  }
  
  .contact-info li {
    margin-bottom: 0.5rem;
  }
  p {
    color: rgb(11, 11, 10);
    border-bottom: 2px solid var(--usf-gold);
    padding-bottom: 0.5rem;
    font-size: 2rem;
  }