h1 {
    margin:  30;
    font-size: 2.5rem;
    color: rgb(5, 0, 2) ;
}
h2 {
    margin:  10;
    font-size: 3.5rem;
    color: hsl(341, 28%, 41%) ;
}
header {
    background-color:cadetblue;
    color:aliceblue;
    padding: 2px;;
    text-align: center;
}
 header {
    margin: 1000;
    font-size: 2.5rem;
  }
  main {
    margin: 20;
    font-size: 2.0rem;
    color: rgb(1, 0, 5) ;
  }